[access]
	inheritFrom = All-Projects
[project]
	description = Python testing utils used by the robot framework. Installable as a pip package but not intended to be generally usable.
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group ldap/onap-gerrit-testsuite-python-testing-utils-committers
	owner = group saml/onap-gerrit-testsuite-python-testing-utils-committers
	read = group GitHub Replication
